body{
width:80%;
margin:auto;
}

#contact{
text-align:right;
  color:deeppink;
  font-weight:bold;
}

#main{
  text-align:right;
background-color:crimson;
margin-top:10x;
padding:10px;
  color:white;
  font-weight:bold;
}

#kv{
width:100%
}

#Latestnews{
  width:40%;
  height:10px;
 float:left;
}

#lnhead{
background-color:red;
color:snow;
}

#Aboutus{
width:58%;
height:10px;
float:right;
}
#auhead{
background-color:wheat;
color:slateblue;
}

#marquee{
background-color:#CCFF99;
  color:black;
  padding:10px;
  height:100px;
}
