body{
width:80%;
margin:auto;
}

#contact{
text-align:right;
}

#main{
  text-align:right;
background-color:crimson;
margin-top:15px;
padding:10px;
  color:white;
  font-weight:bold;
}

#kv{
width:100%
}
