body{
width:80%;
margin:auto;
}

#contact{
text-align:right;
  color:deeppink;
  font-weight:bold;
}

#main{
  text-align:right;
background-color:crimson;
margin-top:10x;
padding:10px;
  color:white;
  font-weight:bold;
}

#kv{
width:100%
}

#Latestnews{
  width:40%;
  height:10px;
 float:left;
}

#lnhead{
background-color:red;
color:snow;
  margin-bottom:10px;
}

#Aboutus{
width:58%;
height:10px;
float:right;
}
#auhead{
background-color:wheat;
color:slateblue;
   margin-bottom:10px;
}

#marquee{
background-color:#CCFF99;
  color:black;
  padding:100px;
  height:100px;
}
#about{
  background-color:#ff99ff;
  color:black;
  padding:10px;
  height:100px
  text-align:justify;
}
